@model PowerAppsCMS.Models.Process
@using PowerAppsCMS.Models
@using PowerAppsCMS.Constants

@{
    ViewBag.Title = "Change QC Status"; 
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Product Management</li>
        <li class="breadcrumb-item active" aria-current="page">Change QC Status</li>
    </ol>
</nav>
<h1 class="page-title">Change QC Status</h1>
<div class="card shadow">
    <div class="card-header">
        Change QC Status
    </div>
    <div class="form-row align-items-center justify-content-between filter-table-row">
        <div class="col-auto">
            @using (Html.BeginForm("ChangeQCStatus", "Process", FormMethod.Get))
            {
                <div class="form-inline">
                    <div class="form-group">
                        <label>Find by process ID</label>
                        @Html.TextBox("id", ViewBag.CurrentFilter as string, new { @class = "form-control mx-sm-3", placeholder = "Enter Process ID" })
                    </div>
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>

@if (Model != null)
{
    <div class="card shadow">
        <div class="view-data-container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <label class="view-data__label form-custom-label">@Html.DisplayName("Process Name")</label>
                    <p class="view-data__content">@Html.DisplayFor(model => model.MasterProcess.Name)</p>
                </div>
                <div class="col-md-6 col-12">
                    <label class="view-data__label form-custom-label">@Html.DisplayName("Product Name")</label>
                    <p class="view-data__content">@Html.DisplayFor(model => model.Unit.Products.Name)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <label class="view-data__label form-custom-label">@Html.DisplayName("Process Group Name")</label>
                    <p class="view-data__content">@Html.DisplayFor(model => model.MasterProcess.ProcessGroup.Name)</p>
                </div>
                <div class="col-md-6 col-12">
                    <label class="view-data__label form-custom-label">@Html.DisplayName("PRO Number")</label>
                    <p class="view-data__content">@Html.DisplayFor(model => model.Unit.PRO.Number)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <label class="view-data__label form-custom-label">@Html.DisplayName("MANHOUR")</label>
                    <p class="view-data__content">@Html.DisplayFor(model => model.MasterProcess.ManHour)</p>
                </div>
                <div class="col-md-6 col-12">
                    <label class="view-data__label form-custom-label">@Html.DisplayName("Serial Number")</label>
                    <p class="view-data__content">@Html.DisplayFor(model => model.Unit.SerialNumber)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <label class="view-data__label form-custom-label">@Html.DisplayName("MAN POWER")</label>
                    <p class="view-data__content">@Html.DisplayFor(model => model.MasterProcess.ManPower)</p>
                </div>
                <div class="col-md-6 col-12">
                    <label class="view-data__label form-custom-label">@Html.DisplayName("Customer Name")</label>
                    <p class="view-data__content">@Html.DisplayFor(model => model.Unit.PRO.CustomerListInSODisplayText)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <label class="view-data__label form-custom-label">@Html.DisplayName("Current Status")</label>
                    <p class="view-data__content">@Html.DisplayFor(model => model.StatusDisplayText)</p>
                </div>
                @if (Model.Status == (int)PowerAppsCMS.Constants.ProcessStatus.QCPassed)
                {
                    <div class="col-md-6 col-12">
                        <label class="view-data__label form-custom-label">@Html.DisplayName("Change Status To ") <b>Waiting For QC</b></label>
                        <div class="col-auto">
                            <a href="@Url.Action("UpdateStatus", "Process", new { id = Model.ID, page = ViewBag.Page })" id="changeStatusQC" class="btn btn-primary mb-3 detail-btn-edit"><i data-feather="edit-2"></i> &nbsp; Change To Waiting For QC</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        $('#changeStatusQC').on('click', function () {
            return confirm('Are you sure to change QC Status to Waiting For QC?');
        });
    </script>
}
