@{
    ViewBag.Title = "Error";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Product Management</li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Product")">Products</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Details", "Product", new { id = ViewBag.ProductID})">Product Details</a></li>
        <li class="breadcrumb-item active" aria-current="page">Master Process Details</li>
    </ol>
</nav>
<h1 class="page-title text-danger">Error</h1>

<div class="row">
    <div class="col-xl-9 col-12">
        <div class="card shadow">
            <div class="card-header text-danger">
                Master Process Details
            </div>
            <div class="custom-form-container">
                <div class="row">
                    <div class="col-xl-6  col-12 custom-form-field">
                        <p class="text-danger">@ViewBag.ErrorMessage</p>
                        <p class="text-danger">@ViewBag.Exception</p>
                    </div>
                </div>
                <div class="row justify-content-between mt-5">
                    <div class="col-auto">
                        <a href="@Url.Action("Details", "Product", new { id = ViewBag.ProductID})" class="btn btn-primary mb-3"><i data-feather="arrow-left"></i> &nbsp; Back to Product</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


