@model PowerAppsCMS.Models.User
@using PowerAppsCMS.Models

@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    <div class="card-header">
        Edit User AD
    </div>

    <div class="custom-form-container">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        <input type="text" name="currentPage" id="currentPage" class="currentPage hide" value="@ViewBag.Page" />
        <div class="row">
            <div class="col-lg-6 col-12 custom-form-field">
                <p class="form-custom-label">Username</p>
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control full-width", placeholder = "Enter Username", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-6 col-12 custom-form-field">
                <p class="form-custom-label">Employee Number</p>
                @Html.EditorFor(model => model.EmployeeNumber, new { htmlAttributes = new { @class = "form-control full-width", placeholder = "Enter Employee Number", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.EmployeeNumber, "", new { @class = "text-danger input-form" })
                <p class="text-danger">@ViewBag.ExistEmployeeNumber</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12 custom-form-field">
                <p class="form-custom-label">Name</p>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control full-width", placeholder = "Enter Name" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger input-form" })
            </div>
            <div class="col-xl-6 col-12 custom-form-field">
                <p class="form-custom-label">Email</p>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control full-width", placeholder = "Enter Email", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12 custom-form-field">
                <p class="form-custom-label">Select Role</p>
                @Html.DropDownList("RoleID", null, htmlAttributes: new { @class = "form-control full-width" })
                @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            PowerAppsCMSEntities db = new PowerAppsCMSEntities();
            var roleData = db.Roles.Where(x => x.ID == Model.RoleID).FirstOrDefault();
            var roleValue = 0;

            if (roleData.HaveAccessPowerApps == true)
            {
                roleValue = 1;
            }
            else
            {
                roleValue = 0;
            }
            <input type="text" class="powerAppsAccess hide" name="powerAppsAccess" value="@roleValue" />
        }
            <div class="row process-group hide">
                <div class="col-lg-6 col-12 custom-form-field">
                    <p class="form-custom-label">Select Process Group</p>
                    @Html.DropDownList("ProcessGroupID", null, htmlAttributes: new { @class = "form-control full-width " })
                    @Html.ValidationMessageFor(model => model.ProcessGroupID, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-6 col-12 custom-form-field">
                    <p class="form-custom-label">Select Parent User</p>
                    @Html.DropDownList("ParentUserID", null, htmlAttributes: new { @class = "form-control full-width" })
                    @Html.ValidationMessageFor(model => model.ParentUserID, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-6 col-12 custom-form-field">
                    <p class="form-custom-label">PIN</p>
                    @Html.EditorFor(model => model.PIN, new { htmlAttributes = new { @class = "form-control full-width", placeholder = "7 Digits Number", @type = "password", maxlength = 7 } })
                    @Html.ValidationMessageFor(model => model.PIN, "", new { @class = "text-danger" })
                </div>
            </div>
        <div class="row justify-content-between mt-5">
            <div class="col-auto">
                <a href="@Url.Action("Details", "User", new { id = Model.ID, page = ViewBag.Page})" class="btn btn-primary mb-3"><i data-feather="arrow-left"></i> &nbsp; Back to User Details</a>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-success edit-user-ad mr-0 mb-3"><i data-feather="save"></i> &nbsp; Save</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            $('#RoleID').change(function () {
                var role = $('#RoleID option:selected').text();

                if (role == 'Group Leader PB' || role == 'Group Leader Produksi') {
                    $('.process-group-checkbox').removeClass('hide');
                    $('.process-group-dropdown').addClass('hide');
                    console.log(role);
                }
                else {
                    $('.process-group-checkbox').addClass('hide');
                    $('.process-group-dropdown').removeClass('hide');
                }
            });
        });
    </script>
}

