@model PagedList.IPagedList<PowerAppsCMS.Models.Part>
@using PagedList.Mvc

@{
    ViewBag.Title = "Parts";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Product Management</li>
        <li class="breadcrumb-item">Manage Component</li>
        <li class="breadcrumb-item active" aria-current="page">Part</li>
    </ol>
</nav>
<h1 class="page-title">Parts</h1>
<div class="card shadow">
    <div class="card-header">
        List of Parts
    </div>
    <div class="form-row align-items-center justify-content-between filter-table-row">
        <div class="col-auto">
            @using (Html.BeginForm("Index", "Part", FormMethod.Get))
            {
                <div class="form-inline">
                    <div class="form-group">
                        <label>Find by name</label>
                        @Html.TextBox("searchName", ViewBag.CurrentFilter as string, new { @class = "form-control mx-sm-3" })
                    </div>
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            }
        </div>
        <div class="col-auto">
            <a href="@Url.Action("Create", "Part")" class="btn btn-primary"><i data-feather="plus-circle"></i> &nbsp; Add Part</a>
        </div>
    </div>
    <table class="table card-table">
        <thead>
            <tr>
                <th>
                    Part
                </th>
                <th></th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="part">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <input type="text" value="@item.ID" class="partId hide" name="partId" />
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Part", new { id = item.ID})" class="btn btn-dark btn-sm"><i data-feather="edit-2"></i></a>
                        <a class="btn btn-danger btn-sm deletePart" role="button"><i data-feather="trash-2"></i></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <div class="p-3">
        <div class="row justify-content-md-center custom-pagination align-items-center">
            @*<div class="col-auto">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>*@
            <div class="col-auto">
                @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    </div>
</div>


<div>
    <p class="text-danger">@ViewBag.Exception</p>
</div>
<div class="loading hide">
    <img src="~/Content/images/preloader.gif" />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var partId = 0;

            $(".deletePart").click(function () {
                partId = $(this).closest(".part").find("input[name='partId']").val();
                if (confirm("Are you sure want to delete this part?")) {
                    $('.loading').removeClass('hide');
                    window.location.href = "@Url.Action("Delete", "Part")?id=" +partId;
                };
                return false;
            });
        });
    </script>
}
