@model PagedList.IPagedList<PowerAppsCMS.Models.Memo>
@using PagedList.Mvc

@{
    ViewBag.Title = "Memo";
    Layout = "~/Views/Shared/_LayoutMPS.cshtml";
}

<h1 class="page-title mt-5">
    Memo
</h1>
<div class="form-row justify-content-between align-items-center">
    <div class="col-auto">
        @using (Html.BeginForm("Index", "Memo", FormMethod.Get))
        {
            <div class="form-inline">
                <div class="form-group">
                    <label class="mb-3">Find by Product Name</label>
                    @Html.TextBox("searchName", ViewBag.CurrentFilter as string, new { @class = "form-control mx-sm-3 mb-3", placeholder="Enter Product Name" })
                </div>
                <input type="submit" value="Search" class="btn btn-primary mb-3" />
            </div>
        }
    </div>
    @*<div class="col-auto">


        </div>*@
    <div class="col-auto">
        <a href="@Url.Action("Create", "Memo" )" class="btn btn-primary mb-4"><i data-feather="plus-circle"></i> &nbsp; Add Memo</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered custom-table">
        <thead class="thead-dark">
            <tr>
                <th>
                    Product
                </th>
                <th>
                    PRO Number
                </th>
                <th>
                    Created
                </th>
                <th>
                    Created By
                </th>
                <th>
                    Description
                </th>
                <th class="text-right">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var memo in Model)
            {
                var listOfMemoPRO = memo.MemoPROes.Where(x => x.MemoID == memo.ID);
                var memoProCount = listOfMemoPRO.Count();
                int memoProIndex = 0;

                foreach (var memoPro in listOfMemoPRO)
                {
                    <tr class="memo">
                        @if (memoProIndex == 0)
                        {
                            <td rowspan=@memoProCount>
                                @Html.DisplayFor(modelItem => memo.Products.Name)
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => memoPro.PRO.Number)
                        </td>
                        @if (memoProIndex == 0)
                        {
                            <td rowspan=@memoProCount>
                                @Html.DisplayFor(modelItem => memo.Created)
                            </td>
                            <td rowspan=@memoProCount>
                                @Html.DisplayFor(modelItem => memo.CreatedBy)
                            </td>
                            <td rowspan=@memoProCount>
                                @Html.DisplayFor(modelItem => memo.Description)
                            </td>
                            <td rowspan=@memoProCount class="text-right">
                                <input type="text" value="@memo.ID" class="memoId hide" name="memoId" />
                                <a href="@Url.Action("Details", "Memo", new { id = memo.ID, page = ViewBag.Page})" class="btn btn-primary btn-sm"  data-toggle="tooltip" data-placement="top" title="Detail"><i data-feather="zoom-in"></i></a>
                                <a href="@Url.Action("Edit", "Memo", new { id = memo.ID})" class="btn btn-dark btn-sm"  data-toggle="tooltip" data-placement="top" title="Edit"><i data-feather="edit-2"></i></a>
                                <a class="btn btn-danger btn-sm deleteMemo" role="button" href="#"  data-toggle="tooltip" data-placement="top" title="Delete"><i data-feather="trash-2"></i></a>
                            </td>
                        }

                    </tr>
                    memoProIndex++;
                }


            }
        </tbody>
    </table>
    <div class="p-3">
        <div class="row justify-content-md-center custom-pagination align-items-center">
            @*<div class="col-auto">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                </div>*@
            <div class="col-auto">
                @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    </div>
</div>


<div class="loading hide">
    <i class="fa fa-2x fa-spinner fa-spin"></i>
    <label>Please wait while Saving Data...</label>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $(".deleteMemo").click(function () {
                memoID = $(this).closest(".memo").find("input[name='memoId']").val();
                if (confirm("Are you sure want to delete this memo?")) {
                    $('.loading').removeClass('hide');
                    window.location.href = "@Url.Action("Delete", "Memo")?id=" +memoID;
                };
                return false;
            });
        });
    </script>
}