@model PowerAppsCMS.Models.ReasonPause

@{
    ViewBag.Title = "Edit Reason Pause";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Issue Management</li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "ReasonPause")">Reason Pause</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Reason Pause</li>
    </ol>
</nav>
<h1 class="page-title">Edit Reason Pause</h1>

@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@
    <div class="row">
        <div class="col-xl-9 col-12">
            <div class="card shadow">
                <div class="card-header">
                    Edit Reason Pause
                </div>

                <div class="custom-form-container">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    <div class="row">
                        <div class="col-xl-6 col-12 custom-form-field">
                            <p class="form-custom-label">@Html.LabelFor(model => model.Name)</p>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control full-width" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row justify-content-between mt-5">
                        <div class="col-auto">
                            <a href="@Url.Action("Index", "ReasonIssue")" class="btn btn-primary mb-3"><i data-feather="arrow-left"></i> &nbsp; Back to Reason Issue</a>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-success submit mr-0 mb-3"><i data-feather="save"></i> &nbsp; Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    <p class="text-danger">@ViewBag.Exception</p>
</div>

<div class="loading hide">
    <img src="~/Content/images/preloader.gif" />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            $('.submit').click(function () {
                $(this).prop("disabled", true);
                $('.loading').removeClass('hide');
                if (!$('form').valid()) {
                    $(this).prop("disabled", false);
                    $('.loading').addClass('hide');
                    return false;
                }
                $('form').submit();
            });

            if ('@ViewBag.Message' != "") {
                $('.loading').addClass('hide');
                alert("Reason Pause successfully updated");
                window.location.href = "@Url.Action("Index", "ReasonPause", new { page = ViewBag.CurrentPage})";
            }
        });
    </script>
}